body {
  font-family: 'Arial', 'Calibri', 'Tahoma', sans-serif;
}

.figure-home,
.figure-content img {
  width: 100%;
}

.figure-home img,
.figure-content {
  width: 60%;
}

a {
  color: #000acd;
  text-decoration: none;
}

#content {
  min-height: 75vh;
}

#decrease img {
  width: 1.6rem;
}

.default-icons-width {
  width: 2rem;
}

button:focus-visible,
a:focus-visible,
li:focus-visible,
h1:focus-visible,
h2:focus-visible,
section:focus-visible {
  outline: 4px solid #7395d3 !important;
}

button:hover,
a:hover,
main li:hover,
h1:hover,
h2:hover,
h3:hover {
  outline: 4px solid #7395d3 !important;
}

.dark-mode-style {
  background-color: #111;
  color: #FFF;
  border-color: #FFF;
}

.dark-mode-style:focus-visible,
.dropdown-menu li>.dark-mode-style:hover {
  background-color: #7395d3 !important;
}

.hidden-object {
  display: none;
}

/* WEBKITS */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}